body{
    background: linear-gradient(yellow,black);
    font-size: 30px;
    text-align: center;
button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
}
}




form{
    border-radius: 5cm;

}

hy1{
    
        width: 100%;
     margin: 8px 0;
     box-sizing: border-box;
     border: none;
     background-color: #A0CFEC;
     color:green;
     padding:10px;
     border-radius: 10px;
       
       


}
p{
    color: azure;
}